#controls {
  text-align: center;
}

#controls button {
  font-weight: bold;
  border: none;
  border-radius: 1em;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}

#controls button:hover {
  cursor: pointer;
}

#controls span {
  transition: all 0.3s ease;
}

#game-btns {
  margin-bottom: 0.5em;
}

#game-btns span { 
  display: inline-block;
  margin: auto;
}

#start, #strict {
  height: 2em;
  width: 5em;
  margin: 0em 0.5em;
}

#power {
  height: 1.5em;
  width: 1.5em;
  font-size: 1.5em;
}